body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    width: 280px
}

.display {
    margin-top: 48px;
    margin-bottom: 10px;
}

.history, .result {
    border: solid black 2px;
    height: 64px;
}

.row {
    display: flex;
    height: 64px;
    justify-content: center;
    margin: 4px 0;
    gap: 6px
}

.keys {
    display: flex;
    flex-direction: column;
}

button {
    width: 64px;
    height: 64px;
    border-radius: 120px;
    margin:0;
}

.zero {
    width: 134px;
}